.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    height: 5vh;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .logo img {
    height: 3em;
    /* margin-right: 10px; */
  }

  .logo span{
    color: #fff;
    font-size: 2em;
  }
  
  .nav-icons {
    display: flex;
    align-items: center;
  }
  
  .icon-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .search-bar {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
  }
  
  .search-bar input {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
  }

  /* .dropDown{
    position: absolute;
    background-color: grey;
    right:10px;
    top: calc(5vh + 10px);
    border-radius: 5px;
    text-align: center;
  }
  
  .dropDown ul{
    padding: 0;
    width: 10em;
  }

  .dropDown li{
    list-style: none;
    width: 100%;
    
    
  }

  .dropDown button{
    padding: 1em 0;
    width: 100%;
    background-color: none;
    border: none;
  }

  .dropDown button:hover{
    background-color: darkgray;
  } */
  

  .dropDown {
    background-color: #1e1e1e;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    width: 200px;
    position: absolute;
    z-index: 10;
    top: calc(5vh + 10px);
    right:10px;
}

.dropDown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropDown li {
    margin-bottom: 10px;
    width: 80%;
  }
  
  .dropDown li:last-child {
    margin-bottom: 0;
}

.dropDown a {
    text-decoration: none;
}

.dropDown button {
    width: 100%;
    padding: 8px 12px;
    background-color: #0bc9cd;
    border: none;
    color: #E0E0E0;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropDown button:hover {
    background-color: lighten(#0bc9cd, 10%);
}

.logout-btn {
    background-color: #d9534f; /* Optional for different logout button color */
}

.dropDown li span {
    color: #B0B0B0;
}

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .nav-icons {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
  
    .search-bar {
      top: auto;
      right: auto;
      left: 10px;
      position: static;
      margin-top: 10px;
    }
  
    .dropDown {
      position:unset;
      width: 100vw;
    }
  
    .dropDown ul {
      width: 100%;
    }
  }